:root{
    --purple-bg : rgb(105, 28, 105);
    --textpurple: purple;
}
body{
    background-color: rgb(214, 211, 211);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.purple-bg{
    background-color: var(--purple-bg);
    color: white;
    padding: 5px;
    margin: 5px;
    
}

.text-purple{
    color: var(--textpurple)
}

.navbar-container{
    background-color: rgba(0, 0, 0, 0.822);
    position:fixed;
    z-index: 100;
    width: 100%;
    
}

.navbar{
    margin: 0 30px;
    
}

.navbar i{
    color:rgba(255, 255, 255, 0.747);
    margin-left: 30px;
}
    

.navbar-brand img{
    width: 30px;
}

.nav-link{
    color:rgba(255, 255, 255, 0.747);
    font-size: 15px;
    margin: 0 10px;
    
}

.nav-link span{
    color:rgba(227, 135, 250, 0.747);
}

.front-pic{
    position: relative;
    background-image: url(/gog-assets/front.jpg);
    min-height:400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.front-pic div{
    position:absolute;
    font-size: 20px;
    color:white;
    bottom: 10%;
    left: 3%;
}

.carousel-inner{
    position: relative;
   
}
.carousel-text-box{
    position:absolute;
    font-size: 1rem;
    margin-left: 1.5rem;
    width: 95%;
    z-index: 10;
    bottom: 0;
    left: 0;
}



.carousel-control-prev-icon, .carousel-control-next-icon{
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    
}
.carousel-control-prev-icon{
    margin-right: 200px;
}
.carousel-control-next-icon{
    margin-left: 200px;
}

.carousel-indicators{
    display: hide;
}

.flashdeal-info-box {
    border: 3px dotted var(--purple-bg);
    color: var(--textpurple);
    height:200px;
    width: 200px;

}

.first-divider div:nth-of-type(2){
border-right:3px solid rgb(202, 195, 195);

}

.sale-box li{
padding:10px;
}

footer{
    background-color: rgb(41, 39, 39);
    color:rgb(216, 215, 215);
}

footer div:nth-of-type(2){
    background-color: rgb(49, 46, 46);
}

footer div:nth-of-type(2) button{
    background-image: url(/gog-assets/btn.png) ;
    width: 200px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 11x;
    font-weight: 200;
}

footer div:nth-of-type(2) button:hover{
    background-image: white;
box-shadow: 10px 10px 10px 10px white;
}

.sale-box li:hover {
    border-bottom: 3px solid var(--purple-bg);
    padding:10px;
    }
    