:root{
    --purple-bg : rgb(105, 28, 105);
    --text-dpurple: rgb(105, 28, 105);
    --textpurple: rgba(227, 135, 250, 0.747);
    --textgrey: rgba(255, 255, 255, 0.747);
    --grey-bg: rgb(214, 211, 211);
}
body{
    background-color: var(--grey-bg);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:black;
    
}

.purple-bg{
    background-color: var(--purple-bg);
    color: white;
    
}

.text-purple{
    color: var(--textpurple)
}

/* nav section */
.navbar-container{
    background-color: rgba(0, 0, 0, 0.822);
    position:fixed;
    z-index: 100;
    width: 100%;
    
}

.navbar{
    margin: 0 30px;
    
}

.navbar i{
    color:var(--textgrey);
    margin-left: 30px;
}
    

.navbar-brand img{
    width: 30px;
}

.nav-link{
    color:rgba(255, 255, 255, 0.747);
    font-size: 15px;
    margin: 0 10px;
    
}

.nav-link span{
    color:rgba(227, 135, 250, 0.747);
}


.front-pic{
    position: relative;
    background-image: url(/gog-assets/front.jpg);
    min-height:400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.front-pic div{
    position:absolute;
    font-size: 20px;
    color:white;
    bottom: 10%;
    left: 3%;
}

/* main first carousel */
.carousel-inner{
    position: relative;
   
}
.carousel-text-box{
    position:absolute;
    font-size: 1rem;
    margin-left: 1.5rem;
    width: 95%;
    z-index: 10;
    bottom: 0;
    left: 0;
}



.carousel-control-prev-icon, .carousel-control-next-icon{
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    
}
.carousel-control-prev-icon{
    margin-right: 200px;
}
.carousel-control-next-icon{
    margin-left: 200px;
}

.carousel-indicators {
    bottom: -50px;
}

/* flash deal section */
.flashdeal-info-box {
    border: 3px dotted var(--purple-bg);
    color: var(--text-dpurple);
    height:200px;
    width: 200px;

}

/* the first section divider */
.first-divider div:nth-of-type(2){
border-right:3px solid rgb(202, 195, 195);

}

/* now on sale section */
.onsale-position-container{
    position:relative;
}

.onsale-featured-deal{
    background-color: var(--grey-bg);
}

.onsale-donclick-section{
    position: absolute;
    background-color: var(--grey-bg);
    top:0;
    left: 0;
   opacity: 0;
}

.onsale-section li{
padding:10px;
}


.discover-section .card span {
    font-size: 13px;
}


/* featured section */
.featured-section img{
    border: 2px solid var(--grey-bg)
}
/* footer */
footer{
    background-color: rgb(41, 39, 39);
    color:rgb(216, 215, 215);
}

footer div:nth-of-type(2){
    background-color: rgb(49, 46, 46);
}

footer div button{
    background-image: url(/gog-assets/btn.png) ;
    width: 160px;
    color: white;
    border-radius: 10px;
  
}


footer div:nth-of-type(2) button:hover{
   
    
    background-color: #fff;
    box-shadow:
      0 0 6px 1px #fff,  /* inner white */
      0 0 10px 2px #f0f, /* middle magenta */
      0 0 14px 3px #0ff; /* outer cyan */
  
}

footer li, footer p{
    font-weight: 100;
    padding: 5px;
    font-size: 14px;
    color: grey;
}
footer i{
    font-size: 20px;
    padding:7px;
}
footer b{
    color: rgb(228, 222, 222);
}
footer button span:last-of-type{
font-size: 10px;
margin:0;
}
/* hover section */
.onsale-section li:hover {
    border-bottom: 3px solid var(--purple-bg);
    color:  var(--purple-bg);
    padding:10px;
    }

    .onsale-section li:onclick {
        border-bottom: 3px solid var(--purple-bg);
        color:  var(--purple-bg);
        padding:10px;   
    }
    
    .card{
        width:100%;
    }